a{
    color: #fafafa;
    text-decoration: none;
}

.checkout{
    background: linear-gradient(to top, #000000, rgb(146, 0, 0));
    border-radius: 10px;
    width: 100%;
    align-items: center;
    color: gray;
    text-align: center;
}
h3{
    padding: 10px;
    color: white;
}
.cardProducto a {
    color: #fafafa;
    text-decoration: none;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}